$screen-xxl: 1920px;
$screen-xl: 1540px;
$screen-md: 768px;

@mixin be1540 {
  @media (min-width: ($screen-xxl)-20px){
    @content;
  }
}
@mixin ae1540 {
  @media (max-width: ($screen-xl)){
    @content;
  }
}
@mixin ae768 {
  @media (max-width: ($screen-md)){
    @content;
  }
}