@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC:300,400&subset=chinese-traditional');
@import 'breakpoint';
@import 'variables';

input {
  border: none;
  border: solid 1px #ccc;
  border-radius: 5px;
}


h3,
.input {
  width: 200px;
  height: 20px;
  margin-bottom: 15px;
  color: $bg_blue;
}

.switch--button {
  width: auto;
  display: inline-block;
  margin: 5px;
  color: #a3a2a3;
}

.switcher:hover {
  cursor: pointer;
  color: black;
}

.login-page,
.signup-page {
  display: none;
  padding: 10px;
  width: 230px;
  height: 300px;
  border-radius: 5px;
  border-top: 10px solid $bg_blue;
  box-shadow: 0 0px 70px rgba(0, 0, 0, 0.1);

  /*定位對齊*/
  position: relative;
  margin: auto;
  top: 100px;
}

.system_name {
  /*定位對齊*/
  position: relative;
  margin: auto;
  top: 100px;
  text-align: center;
}

.submit {
  color: white;
  background: $bg_blue;
  width: 200px;
  height: 30px;
  border-radius: 5px;
  border: 0px;
}

.submit:hover {
  background: #007acc;
}

.signup-page {
  height: 350px;
}

.is-visible {
  display: block;
}